#footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  color: #FCFCFC;
  font-weight: q500;
  font-size: 1.5em;
  border-top: 6px solid gold;
  background: linear-gradient(
    45deg,
    var(--gradient-purple) 0%,
    var(--middle-purple) 25%,
    var(--gradient-blue) 80%
  );
  background-color: white;
  cursor: default;
  padding: 10px;
  div {
    text-align: center;
    padding: 0 5vw;
  }
}
