#footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  color: #FCFCFC;
  font-weight: 800;
  font-size: 1.25em;
  border-top: 6px solid gold;
  background: linear-gradient(
    45deg,
    var(--gradient-purple) 0%,
    var(--middle-purple) 25%,
    var(--gradient-blue) 80%
  );
  background-color: white;
  cursor: default;
  padding: 10px;
  margin-top: 20px;
  min-height: 100px;
  div {
    text-align: center;
    padding: 3vh 5vw;
  }
}
