:root {
  --accent-yellow: rgba(255, 234, 0, 1);
  --primary-color: rgba(168, 240, 255, 1);
  --gradient-blue: rgba(125, 233, 255, 0.67);
  --darker-blue: rgba(125, 233, 255, 0.8);
  --gradient-purple: rgba(194, 190, 255, 1);
  --middle-purple: rgba(100, 20, 255, 0.3);
  --darker-purple: rgba(100, 20, 255, 0.4);
}

body {
  cursor: default;
  text-align: center;
  font-family: Raleway !important;
  font-size: 12px;
}

.component {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: auto;
  color: rgba(100, 20, 255, 0.5);
  font-size: 16px;
  position: relative;
}

.container {
  padding: 2vw;;
  margin: auto;
  text-align: center;
}

.title {
  color: var(--darker-purple);
  font-size: 3em;
  margin: 1em;
}

.subtitle {
  color: var(--middle-purple);
  font-size: 2em;
  margin: .5em;
}

/* button {
  width: 100%;
  background-color: var(--middle-purple);
  border: 1px solid var(--darker-purple);
  font-size: 5em;
  padding: 3%;
  outline: none;
  color: white;
  font-weight: bold;
} */

button:hover {
  color: var(--middle-purple);
  background-color: white;  
}

.inputField {
  display: block;
  color: var(--middle-purple);
  font-size: 1.5em;
}

/* Handles landscape mode on most phones*/
@media screen and (max-width: 800px) and (max-height: 500px) {
  #header {
    display: none;
  }

  #navBar {
    padding: 2%;
  }

  #navBar a {
    padding: 0 3%;
    font-weight: bolder;
  }

  button {
    max-width: 33%;
    min-height: 30%;
  }

  .profilePicture {
    max-width: 50%;
  }

  #userComponent {
    display: flex;
    font-size: 1em;
  }

  .component {
    display: flex;
    overflow: auto;
    min-height: 100%;
  }

  .title {
    font-size: 3em;
  }

  #timer {
    font-size: 3em;
  }

  #footer {
    display: none;
  }

  #buttonContainer {
    min-width: 50%;
    min-height: 100%;
  }
}

/*Smaller screen than vertical iPhone 8plus*/
@media screen and (max-width: 700px) {
  #header {
    font-size: 2em;
    font-weight: bold;
  }
/* 
  #header img {
    display: none;
  } */

  #navBar {
    font-size: .8em;
  }

  .title {
    font-size: 2.5em;
  }
}

/*Larger Screen than vertical iPhone*/

@media screen and (min-width: 701px) {
  #header {
    /* font-size: 2em; */
  }
}
